body{

font-family: Arial;

margin:20px;

}

#search{

width:100%;

padding:10px;

font-size:16px;

}

table{

border-collapse:collapse;

width:100%;

}

th,td{

border:1px solid #ccc;

padding:6px;

text-align:left;

}

th{

background:#eee;

}